@charset "UTF-8";
@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/Pretendard-Medium.woff);
  src: url(/assets/fonts/Pretendard-Medium.woff) format("woff");
}
@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/Pretendard-Bold.woff);
  src: url(/assets/fonts/Pretendard-Bold.woff) format("woff");
}
@font-face {
  font-family: BigCaslon;
  font-style: bold;
  font-weight: 700;
  src: url(/assets/fonts/BigCaslonFB-Bold.ttf);
  src: url(/assets/fonts/BigCaslonFB-Bold.ttf) format("ttf");
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Pretendard, BigCaslon, NotoSans, "Malgun Gothic", "맑은 고딕", "Nanum Gothic", "나눔 고딕", "돋움", dotum, sans-serif;
  word-break: keep-all;
  word-wrap: break-word;
  box-sizing: border-box;
}

.off {
  display: none !important;
}

@media (min-width: 720px) {
  .web_none {
    display: none;
  }
}

@media (max-width: 719px) {
  .mobile_none {
    display: none;
  }
}

/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none;
}

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.boldCaslon {
  font-family: BigCaslon;
  font-size: 28px;
  line-height: 100%;
  font-weight: 700;
}

.boldBiggest {
  font-size: 24px;
  line-height: 135%;
  font-weight: 700;
}

.boldBigger {
  font-size: 22px;
  line-height: 135%;
  font-weight: 700;
}

.boldBigP {
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
}

.boldP {
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}

.medSmallP {
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
}

.regP {
  font-size: 16px;
  line-height: 160%;
  font-weight: 300;
}

.regSmallP {
  font-size: 14px;
  line-height: 150%;
  font-weight: 300;
}

.regCaption {
  font-size: 12px;
  line-height: 150%;
  font-weight: 300;
}

.flex_between {
  display: flex;
  justify-content: space-between;
}

.flex_between_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_start {
  display: flex;
  justify-content: flex-start;
}

.flex_start_center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.spacing_b_5 {
  margin-bottom: 5px;
}

.spacing_b_10 {
  margin-bottom: 10px;
}

.spacing_b_15 {
  margin-bottom: 15px;
}

.spacing_b_20 {
  margin-bottom: 20px;
}

.spacing_b_30 {
  margin-bottom: 30px !important;
}

.spacing_b_40 {
  margin-bottom: 40px;
}

.spacing_b_50 {
  margin-bottom: 50px;
}

.spacing_b_70 {
  margin-bottom: 70px;
}

.spacing_b_100 {
  margin-bottom: 100px;
}

.spacing_t_10 {
  margin-top: 10px;
}

.spacing_t_30 {
  margin-top: 30px;
}

.spacing_t_50 {
  margin-top: 50px;
}

.spacing_t_60 {
  margin-top: 60px;
}

.spacing_t_100 {
  margin-top: 100px;
}

.spacing_r_15 {
  margin-right: 15px;
}

.right_arrow {
  width: 12px;
  height: 12px;
  background-color: #949494;
  content: "";
  mask: url(/assets/images/right_arrow.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/right_arrow.svg) no-repeat center/contain;
  cursor: pointer;
}

.left_arrow {
  width: 12px;
  height: 12px;
  background-color: #949494;
  content: "";
  mask: url(/assets/images/left_arrow.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/left_arrow.svg) no-repeat center/contain;
  cursor: pointer;
}

.bottom_arrow {
  width: 16px;
  height: 16px;
  background-color: #949494;
  content: "";
  mask: url(/assets/images/bottom_arrow.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/bottom_arrow.svg) no-repeat center/contain;
  cursor: pointer;
}

.up_arrow {
  width: 16px;
  height: 16px;
  background-color: #949494;
  content: "";
  mask: url(/assets/images/up_arrow.svg) no-repeat center/contain;
  -webkit-mask: url(/assets/images/up_arrow.svg) no-repeat center/contain;
  cursor: pointer;
}

.ingredient_wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 50px 20px 20px 20px;
  border-bottom: 1px solid #333333;
  background-color: white;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.ingredient_wrapper::after {
  content: "";
  display: block;
  width: 100%;
  border-top: 2px solid #333333;
  position: absolute;
  top: 30px;
  left: 0;
}

.ingredient_wrap {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  display: none;
}
.ingredient_wrap.on {
  display: flex;
}
.ingredient_wrap .middle_theme {
  width: 100px;
  font-size: 12px;
  line-height: 150%;
  font-weight: 300;
  color: #949494;
}
.ingredient_wrap > ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.ingredient_wrap > ul > li {
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: none;
}
.ingredient_wrap > ul > li.on {
  display: flex;
}
.ingredient_wrap > ul > li > p {
  margin-right: 10px;
  font-size: 14px;
}
.ingredient_wrap > ul > li > p .value {
  font-weight: 500;
}
.ingredient_wrap > ul > li .right_arrow {
  cursor: pointer;
}

.object_wrapper {
  max-width: 1200px;
  margin: 30px auto;
  border-top: 2px solid #333333;
}
.object_wrapper > ul {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  transition: all 0.4s ease-in-out;
}
.object_wrapper > ul > li {
  margin-right: 25px;
}
.object_wrapper > ul > li:last-child {
  margin-right: 0;
}
.object_wrapper > ul.hide {
  height: 0;
}

.object_theme {
  border-bottom: 1px solid #333333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.object_theme .bottom_arrow {
  transition: all 0.4s ease-in-out;
  transform: rotate(180deg);
}
.object_theme .bottom_arrow.on {
  transform: rotate(360deg);
}

.object {
  width: calc((100% - 80px) / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.object .thum {
  width: 170px;
  height: 170px;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}
.object .boldCaslon {
  text-align: center;
  margin-bottom: 20px;
}

.object_option_wrap {
  width: 100%;
  border-top: 2px solid #333333;
}
.object_option_wrap .dot {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  margin: 10px;
}
.object_option_wrap li {
  border-bottom: 1px solid #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.object_option_wrap li > p {
  margin-right: 20px;
  width: 50px;
}

.num_input_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.num_input_wrap input[type=number] {
  text-align: center;
  font-size: 16px;
  line-height: 160%;
  font-weight: 300;
  width: 50px;
  border: none;
}/*# sourceMappingURL=main.css.map */